/*adiciona a fonte FjallaOne*/
@font-face {
      font-family: 'FjallaOne';
      src: url('fontes/FjallaOne-Regular.ttf') format('truetype');
}
/*adiciona a fonte FjallaOne*/
@font-face {
      font-family: 'Open Sans';
      src: url('fontes/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

table{
      width: 100%;
      height: 300px;
      margin-bottom: 9px;
      background-color: #ffffff;
      border-radius: 9px;
      padding-bottom: 28px;
      padding-left: 160px;
      padding-right: 160px;
      padding-top: 18px;
      

}
.num{
      text-align: right;
}

#tabelas{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      width: 580px;
      margin-top: 20px;
}


body {
      background-color: #eeeeee;
}

th{

      font-family: 'FjallaOne', sans-serif;
      font-size: 2em;
}
td{
      font-family: 'Open Sans';
}

nav{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items:center;
      margin: auto;
      width: 600px;
      overflow: hidden;
      top: 0;
      position: sticky;
      background-color: #eeeeee;
      height: 50px;
}

#nome{
      font-family: 'FjallaOne', sans-serif;
      font-size: 1.5em;
      margin-left: 12px;
}
#brand{
      display: flex;
      align-items: center;
}

ul{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      margin-right: 12px;
}
li{
      margin-left: 14px;
      margin-right: 14px;
}
.botao{
      padding-top: 16px;
      padding-bottom: 16px;
      text-decoration: none;
      color:black;
      font-family: 'Open Sans';
}
.botao:hover {
      background-color: #e2e2e2;
}

footer{
      width: 100%;
      margin: auto;
      height: 120px;
      background-color: #a0a0a0;
      position: fixed;
      bottom: 0px;
      left: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 350px;
}
#gh:hover{
      background-color: #909090;
}
#redes{
      color: #606060;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
}
#redesocias{
      font-family: 'Open Sans';
      font-size: 0.8em;
      margin-bottom: 4px;
}