
@font-face {
      font-family: 'FjallaOne';
      src: url('fontes/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
      font-family: 'Open Sans';
      src: url('fontes/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}


table{
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      background-color: #ffffff;
}
#tabelas{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      width: 60%;
}

body {
      background-color: #eeeeee;
}

th{
      font-family: 'FjallaOne', sans-serif;
      font-size: 2em;
}
td{
      font-family: 'Open Sans';
}