
@font-face {
      font-family: 'FjallaOne';
      src: url('fontes/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
      font-family: 'Open Sans';
      src: url('fontes/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}


table{
      width: 100%;
      height: 300px;
      margin-bottom: 9px;
      background-color: #ffffff;
      border-radius: 9px;
      padding-bottom: 20px;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 18px;
      

}
#tabelas{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      width: 580px;
      margin-top: 20px;
}

body {
      background-color: #eeeeee;
}

th{
      font-family: 'FjallaOne', sans-serif;
      font-size: 2em;
}
td{
      font-family: 'Open Sans';
}

nav{
      margin: auto;
      width: 600px;
      overflow: hidden;
      top: 0;
      position: sticky;
      background-color: #eeeeee;
      height: 50px;
}

#brand{
      font-family: 'FjallaOne', sans-serif;
      font-size: 1.5em;
      float: left;
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 12px;
}

ul{
      list-style-type: none;
      float: right;
      display: flex;
      flex-direction: row;
      margin-right: 12px;
}
li{
      margin-left: 14px;
      margin-right: 14px;
}
a{
      padding-top: 16px;
      padding-bottom: 16px;
      text-decoration: none;
      color:black;
      font-family: 'Open Sans';
}
a:hover {
      background-color: #e2e2e2;
}